<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name='viewport' content='width=device-width' />
        <title>Catálogo de Mídias</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>   
      <nav class="navbar navbar-inverse">
              <div class="container-fluid">
                <div class="navbar-header">
                  <a class="navbar-brand" href="#">Catálogo de Mídias</a>
          </div>
          <ul class="nav navbar-nav">
          <li>
            <a href="#" class="config" onclick="OpenWindow('http://localhost:3000/qr')">Link</a>
          </li>
        </ul>
        </div>
      </nav>
      <div class='container'>
        <h1 align='center'>Catálogo de Mídias</h1>
        <table class = "table" align="center" style="margin-top: 10%; width: 36rem">
          <tr><td><a href='/fisica'>
            <div class="card rounded" style="width: 18rem;">
              <img class="card-img-top" src="/livro" alt="Card image cap">
              <div class="card-body">
                <h3>Mídia Física</h3>
              </div>
            </div>
          </a>
          </td><td><a href="/digital">
            <div class="card rounded" style="width: 18rem; ">
              <img class="card-img-top" src="/processor">
              <div class="card-body">
                <h3>Mídia Digital</h3>
              </div>
            </div>
          </a>
          </td></tr>
          </table>
      </div>
    </body>
    
    <script chartset='UTF-8'>
      const host = (window.location.hostname == "localhost");
if(!host)$(".config").hide();
    </script>
	
</html>